@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');

.home-container {
    margin-top: 50px;
}

.img-container {
    max-width: 200px;
    height: auto;
}

img {
    border-radius: 50%;
}

.welcome {
    margin-top: 40px;
    font-family: 'Cutive Mono', monospace;    
    font-size: 1.2rem;
}