@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

#navigationBar {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

#name {
    font-family: 'Barlow', sans-serif;
    font-size: 2rem;
}

#intro {
    font-size: 15px;
}


#nav-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#navList {
    display: flex;
    min-width: 100%;
    list-style: none;
    justify-content: space-evenly;
    padding: 0px;    
}

#navList a {
    text-decoration: none;
    color: yellow;
    margin: 0px;
    font-size: 16px;
}