@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    color: rgb(29, 28, 28);
    font-size: 18px;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
}